.container {
    display: flex;
    height: 70vh;
    width: 90%;
    max-width: 1200px; /* Añade un ancho máximo para mejor control */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Esto centra el contenedor horizontalmente */
    padding: 0 1rem; /* Añade algo de padding horizontal */
}