html, body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; 
}
@import "tailwindcss";

@theme {
  --purple-50: #f4f5fa;
  --purple-100: #e5e5f4;
  --purple-200: #d2d3eb;
  --purple-300: #b2b5de;
  --purple-400: #8e90cc;
  --purple-500: #7572bf;
  --purple-600: #6860b0;
  --purple-700: #6054a1;
  --purple-800: #534984;
  --purple-900: #3d375e80;
  --purple-950: #2d2942;
}

.App {
  position: relative;
  height: 100vh; 
  width: 100vw;  
  overflow: hidden; 

}
::-webkit-scrollbar {
  width: 5px; 
}

::-webkit-scrollbar-thumb {
  background: #d1d1f4; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #f1f2fc; 
}


.snap-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll; 
  scroll-snap-type: y mandatory; 
  -webkit-overflow-scrolling: touch; 
}


.snap-section {
  width: 100%;
  height: 100vh; 
  scroll-snap-align: start; 
  display: flex; 
  align-items: center;
  justify-content: center;
}

.dock-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 0;
}