html, body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; 
}

.App {
  position: relative;
  height: 100vh; 
  width: 100vw;  
  overflow: hidden; 

}
::-webkit-scrollbar {
  width: 5px; 
}

::-webkit-scrollbar-thumb {
  background: #d1d1f4; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #f1f2fc; 
}


.snap-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll; 
  scroll-snap-type: y mandatory; 
  -webkit-overflow-scrolling: touch; 
}


.snap-section {
  width: 100%;
  height: 100vh; 
  scroll-snap-align: start; 
  display: flex; 
  align-items: center;
  justify-content: center;
}

.dock-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999; 
}
