@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #171717;
  --color-background-black: #090909;
  --color-text-color: #C9C4B3;
  --color-green: #30651B;
  --color-purple: #392F5A;
  --color-purple-light: #6950b2;
}

:root {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #C9C4B3;
  background-color: #171717;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #87847c;
} */

body {
  margin: 0;
  max-width: 1900px;
  min-height: 100vh;
}

h1 {
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
