.icon_hover {
    width: 52px; 
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 8px; 
    transition: all 0.3s ease-in-out;
    position: relative; 
}

.icon_hover:hover {
    background-color: #d1d1f4; 
    transform: translateY(-6px);
}

.icon_hover svg {
    transition: transform 0.3s ease-in-out;
}

.icon_hover:hover svg {
    transform: scale(0.8); 
}

.icon_hover2 {
    transition: all 0.3s ease-in-out;
    position: relative; 
}

.icon_hover2:hover {
    transform: translateY(-6px);
}




/* Generales */
html {
    scroll-behavior: smooth;
}
body{
    scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}
main{
    scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}

.contacto_link{
    display: none;
}

/*  Querys */

@media (max-width: 1200px) {
    .aside {
      display: none;
    }
    main {
        width: 100%;
        padding-left: 50px;
    }
    
    .nav{
        width: 100%;
    }
    .contacto_link{
        display: block;
    }
    .query_column{
        flex-direction: column;
        padding: 0;
    }
    .query_column div{
        width: 80%;
    }
    .query_column img{
        width: 80%;
    }
    .query_column section section{
        width: 50px;
    }
    .query_column1{
        padding: 0;
    }

}

#contacto {
    display: none;
}
@media (max-width: 1100px) {
    #contacto {
        display: flex;
    }
}



/*  Animaciones */
.typing-text {
    color: #f1f2fc;
    font-family: monospace;
    font-size: 24px;
    border-right: 2px solid;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}
.text-tech {
    color: #f1f2fc;
    font-family: monospace;
    font-size: 24px;
    border-right: 2px solid;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

.shadow_custom {
    filter: drop-shadow(0 4px 20px rgba(255, 255, 255, 0.5))
           drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}



/* ScrollBar */
::-webkit-scrollbar {
    width: 5px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-thumb {
    background: #d1d1f4; /* Color del "pulgar" (la parte que se arrastra) */
    border-radius: 10px; /* Bordes redondeados para el pulgar */
}

::-webkit-scrollbar-thumb:hover {
    background: #f1f2fc; /* Color del pulgar al pasar el mouse */
}



/* Estilo para el modal */
/* Estilo para el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Queda fijo en la pantalla */
    z-index: 1; /* Se coloca sobre otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    overflow: auto; /* Habilitar scroll si es necesario */
    background-color: rgba(0, 0, 0, 0.8); /* Fondo negro semitransparente */
    display: flex; /* Flex para centrar contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

/* Estilo para la imagen en el modal */
.modal-content {
    margin: auto;
    display: block;
    max-width: 80%; /* Maximo ancho de la imagen en el modal */
    max-height: 80%; /* Maximo alto de la imagen en el modal */
    animation: scaleIn 0.5s ease; /* Aplicar la animación */
}

/* Animación de escalado */
@keyframes scaleIn {
    from {
        transform: scale(0); /* Comienza en 0 tamaño */
    }
    to {
        transform: scale(1); /* Termina en tamaño normal */
    }
}

/* Estilo para el botón de cerrar */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white; /* Color del texto del botón */
    font-size: 40px;
    font-weight: bold;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}





/* Cursor */
:root {
    --cursor-size: 28px;
    --bg: #a097e2;
  }
.cursor-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--cursor-size);
    height: var(--cursor-size);
    border-radius: var(--cursor-size);
    background: var(--bg);
  }
  #cursor {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }



/* Lenguaje Selector */
  /* From Uiverse.io by MikeeMikee */ 
.radio-input input {
    display: none;
  }
  
  .radio-input {
    --container_width: 250px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #0b0c0f;
    color: #e2e8f0cc;
    width: var(--container_width);
    overflow: hidden;
  }
  
  .radio-input label {
    width: 100%;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 14px;
  }
  
  .selection {
    display: none;
    position: absolute;
    height: 100%;
    width: calc(var(--container_width) / 3);
    z-index: 0;
    left: 0;
    top: 0;
    transition: 0.15s ease;
  }
  
  .radio-input label:has(input:checked) {
    color: #000;
  }
  
  .radio-input label:has(input:checked) ~ .selection {
    background-color: #a097e2;
    display: inline-block;
  }
  
  .radio-input label:nth-child(1):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 0 / 3));
  }
  
  .radio-input label:nth-child(2):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 1 / 3));
  }
  
  .radio-input label:nth-child(3):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 2 / 3));
  }
  


  /* From Uiverse.io by neerajbaniwal */ 
.btn-shine {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 48px;
    color: #fff;
    background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #868686 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    font-size: 22px;
    text-decoration: none;
    white-space: nowrap;
    font-family: "Poppins", sans-serif;
  }
  @-moz-keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 180px;
    }
    100% {
      background-position: 180px;
    }
  }
  @-webkit-keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 180px;
    }
    100% {
      background-position: 180px;
    }
  }
  @-o-keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 180px;
    }
    100% {
      background-position: 180px;
    }
  }
  @keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 180px;
    }
    100% {
      background-position: 180px;
    }
  }
  

  @keyframes slideOutRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

/* Clase para aplicar la animación */
.slide-out {
    animation: slideOutRight 1s forwards; /* La animación dura 1 segundo */
}
